<!DOCTYPE html>
<!--
Hello internet user,

The code used to generate this website is released
under the GNU General Public License version 3
(GPLv3) and written by Olivia Guest.
More information here: http://oliviaguest.com/license

Feel free to contact her at the original repo: 
https://github.com/oliviaguest/oliviaguest.github.io
if you need help with anything! :)
-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="3; url=/">
    {% endif %}
    
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    

    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="images/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="images/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="images/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="images/favicons/mstile-310x310.png" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <meta name="viewport" content="width=device-width">
    <!--<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400" rel="stylesheet"> removed for testing-->
        
  </head>

  <body>

    <div id="main" role="main" class="container">
		{% include navbar.md %}
		{{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">        
          <span class="flip"><a href="//copyleft.org/">©</a></span> <a href="/license/">Corsten Douglas 2017</a><!--{{ site.time | date: '%y' }}</a>-->
        </footer>
      </div>
    </div>
  </body>
</html>
