<!DOCTYPE html>
<!--
Hello internet user,

The code used to generate this website is released
under the GNU General Public License version 3
(GPLv3). The HTML and CSS was originally written by Olivia Guest and modified by Corsten Douglas.
The content was written by Corsten Douglas. 
The layout (but not the written plaintext content or images) may 
be used for other web projects. If you wish to do this, I recommend 
you begin by forking Olivia's page through github.
More information here: http://oliviaguest.com/license

Feel free to contact Olivia Guest at the original repo: 
https://github.com/oliviaguest/oliviaguest.github.io
if you need help with anything! :)
-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="3; url=/">
    {% endif %}
    
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <meta name="viewport" content="width=device-width">
    <!--<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400" rel="stylesheet"> removed for testing-->
        
  </head>

  <body>

    <div id="main" class="container">
		{% include navbar.md %}
		{{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">        
			Corsten Douglas and Douglas Tutoring are not responsible for the content of external websites<br>
			© Corsten Douglas 2017-2019<!--{{ site.time | date: '%y' }}-->
        </footer>
      </div>
    </div>
  </body>
</html>
